<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Reset Email | AgroSphere</title>
</head>
<body>
  <p>Hi {{ user.username }},</p>
  <p>We received a request to reset the password for your account. To reset your password, click the link below:</p>
  <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
  <p>If you didn’t request a password reset, please ignore this email.</p>
  <p>Regards,</p>
  <p>AgroSphere Team</p>
</body>
</html>
